/* common */
.text-color{
    color: #002B46;
}
/* nav address */
.address-section{
    background-color: #002B46;
    color:#F9FAFC;

}
.nav-address{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
}
.address-text{
    padding: .8rem;
}
.search-box{
    background-color: #021C2D;  
    font-weight: 300;
    border: none;
    width: 270px;
    height: 44px;
    border-radius: 5px;
    padding: 1rem;
    color:#F9FAFC;
}
.search-icon{
    position: relative;
    margin-left: -22px;
}
.icon{
    color: #FFA100;
}

/* navbar */
.nav-content{
    background-color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #002B46;
    font-size: 16px;
    font-weight: 400;
}
.sign-up-btn{
    Width : 146px;
    Height :41px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 4px 4px rgba(0, 43, 70, 0.3);
    background-image: linear-gradient(-22.12deg, #002B46, #012236);
    border-radius: 5px;
    color: #fff;
    border: none;
}

/* Banner */
.banner-content{
    background-image: url(/images/Banner-bg.jpg),linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.color-overlay{
    background: #30394B;
    position: absolute;
    height: 400px;
    width: 100%;
    opacity: .5;
}


.banner-content > {
    z-index: 10;
}
.banner-text{
    color: #fff;
    z-index: 11;
}

/*  Features From Learnology */
.features-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #002B46;
}
.features-p{
    font-size: 16px;
    font-weight: 300;
    color: #666565;
}
.check-box-text{
    font-size: 16px;
    font-weight: 400;
    color: #002B46;
    
}
.feature1-img{
    width: 19rem;
    height: 271px;
    border: 10px solid #002B46;
    position: absolute;
    margin-left: -58px;

}
.feature2-img{
    width: 19rem;
    height: 271px;
    border: 10px solid #FFA100;
    position: relative;
    margin-top:91px ;
    z-index: 1;
   
}
/* Learnology’s History */
/* .video-container{
    background: #002b4661;
    z-index: 115551;
} */
.video-content{
    width: 100%;
    height: 100%;
}
.video-container{
    position: relative;
    padding: 0px;
}
.video-container::before { 
    content: "Take A Video Tour At Learnology";
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #002b46ba;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .stroke-solid {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s ease, opacity 1s ease;
  }
  
  .icon {
    transform: scale(0.8);
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
  }
  
  #play:hover .stroke-solid {
    opacity: 1;
    stroke-dashoffset: 300;
  }
  #play:hover .icon {
    transform: scale(0.9);
  }
  
  
  #play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 112;
  }

.history-text h1{
      font-size: 36px;
      font-weight: 700;
  }
.learnology-feature{
    width: 170px;
    height: 110px;
    text-align: center;
    background-color: #F9FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnology-feature p{
    font-size: 14px;
    font-weight: 500;
    color: #002B46;
}

/* About */
.about-container{
    background-image: url(/images/bg.jpg),linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
  background-repeat: no-repeat;
  background-size: 400px 500px;
}
.about-color-overlay{
    background: #002B46;
    position: absolute;
    height: 250px;
    width: 400px;
    opacity: .9;
}
.about-icon{
    display: none;
}







/* Media Query */
@media only screen and (max-width:688px){
    .nav-address{
        display: flex;
        flex-direction: column
    }
    .search{
        width: 100%;
    }
    .search-box{
        width: 99%;
    }
    .nav-address{
        padding: 0px;
    }
    .feature1-img{
        width: 11.5rem;
        height: 220px;
        border: 10px solid #002B46;
        position: absolute;
        margin-left: -58px;
    
    }
    .feature2-img{
        width: 11.5rem;
        height: 220px;
        border: 10px solid #FFA100;
        position: relative;
        margin-top:91px ;
        z-index: 1;
       
    }
    .about-icon{
        display: none;
    }
    
}

@media only screen and (min-width:689px) and (max-width:992px){
    .feature1-img{
        width: 11.5rem;
        height: 220px;
        border: 10px solid #002B46;
        position: absolute;
        margin-left: -58px;
    
    }
    .feature2-img{
        width: 11.5rem;
        height: 220px;
        border: 10px solid #FFA100;
        position: relative;
        margin-top:91px ;
        z-index: 1;
    }
}
